{% extends 'core/base.html' %}
{% load menu_item %}
{% load markdown %}
{% load static %}


{% block scripts %}
    <script src="{% static 'js/json_request.js' %}"></script>
    <script>
        function update_list(data){
            if(data["status"] == 1){
                this.parentNode.parentNode.removeChild(this.parentNode);
            }
        }

        function del_ins(elem, iid){
            queryJson('', {'iid': iid}, update_list.bind(elem));
        }
    </script>
    <script src="{% static 'js/calendar.js' %}"></script>
{% endblock %}

{% block header %}
    Evenement
{% endblock %}

{% block menu %}
    {% if perms.events %}
        {% menu_item "Liste des évènements" "events:admin_index" %}
    {% else %}
        {% menu_item "Liste des évènements" "events:index" %}
    {% endif %}

    {% menu_item "Description" "events:event" eid=event.id %}


    {% if perms.events.access_list %}
        {% menu_item "Liste des inscrits" "events:admin_list_registrations" eid=event.id %}
    {% endif %}

    {% if perms.events.manage_event %}
        {% menu_item "Editer l'évènement" "events:admin_edit" eid=event.id %}
    {% endif %}
    {% if event.gestion and perms.events.manage_entries %}
        {% menu_item "Gestion" "events:admin_management" eid=event.id %}
    {% endif %}
{% endblock %}

{% block main %}
    <div class="announce">
    <header>
        <h1>{{ event.name }}</h1>
    </header>
        {{ event.description|markdown }}
        <div class="flex_container details">
            <div class="flex expand">
                <p>{{ event.start_time }}</p>
                <p>Début</p>
            </div>
            <div class="flex expand">
                <p>{{ event.end_time }}</p>
                <p>Fin</p>
            </div>
        </div>
        <div class="flex_container details">
            <div class="flex expand">
                <p>{{ event.location }}</p>
                <p>Lieu</p>
            </div>
            <div class="flex expand">
                <p>
                    {{ event.registrations_number }}
                    {% if event.limited %}
                        / {{ event.max_inscriptions }}
                    {% endif %}
                </p>
                <p>Inscrit(s)</p>
            </div>
        </div>
        <div class="flex_container details">
            <div class="flex expand">
                {% if event.price != 0 %}
                    <p>{{ event.price }}€</p>
                    <p>Prix</p>
                {% else %}
                    <p>Gratuit</p>
                {% endif %}
            </div>
        </div>

        {% if perms.events.manage_event and event.allow_extern %}
            {% for link in links %}
                <div class="flex_container details">
                    <div class="flex expand">
                        <p>
                            <a href="{% url 'events:extern' uuid=link.uuid %}">Lien pour {{ link.name }}</a>
                            ({{ link.nb_inscriptions }} / {{ link.maximum }})
                            <p><a href="{% url 'events:extern' uuid=link.admin_uuid %}">Administration</a></p>
                        </p>
                    </div>
                </div>
            {% endfor %}
            <header><h1>Lien pour les inscriptions externe</h1></header>
            <div>
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ link_form.as_p }}
                    <button name='btn_link'>Nouveau lien</button>
                </form>
            </div>
        {% endif %}

        {% if user_can_invite or invitations %}
            <header>
                <h1>
                    Invitations {% if event.max_invitations %}({{ event.nb_invitations }} / {{ event.max_invitations }}){% endif %}
                    <span class="subtitle">
                        {% if event.max_invitations_by_person %}
                            (Maximum par personne: {{ event.max_invitations_by_person }})
                        {% endif %}
                    </span>
                </h1>
            </header>
        {% endif %}
        {% if invitations %}
            <ul class="userlist">
            {% for invit in invitations %}
                <li>
                    <div class="picture_container"><img alt="profile picture" src="{% static 'images/default_user_icon.png' %}"/></div>
                    <div>{{ invit.first_name }} {{ invit.last_name }}</div>
                    <button onclick="del_ins(this, {{ invit.id }}); return false;" class="userlist_right_button">Supprimer</button>
                </li>
            {% endfor %}
            </ul>
        {% endif %}
        {% if user_can_invite %}
            <div>
                <form method="POST" action="">
                    {% csrf_token %}
                    {{ invit_form.as_p }}
                    <button name='btn_invit'>Inviter</button>
                </form>
                <script>
                    create_calendar("id_birth_date");
                </script>
            </div>
        {% endif %}
    </div>
{% endblock %}

