{% extends 'core/base.html' %}
{% load menu_item %}
{% load static %}

{% block header %}
    Evenement
{% endblock %}

{% block menu %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/calendar.js' %}"></script>
{% endblock %}

{% block main %}
    <div class="announce">
    <header>
        <h1>{{ event.name }}</h1>
    </header>
        <p>{{ event.description }}</p>
        <div class="flex_container details">
            <div class="flex expand">
                <p>{{ event.start_time }}</p>
                <p>Début</p>
            </div>
            <div class="flex expand">
                <p>{{ event.end_time }}</p>
                <p>Fin</p>
            </div>
        </div>
        <div class="flex_container details">
            <div class="flex expand">
                <p>{{ event.location }}</p>
                <p>Lieu</p>
            </div>
            <div class="flex expand">
                <p>{{ event.registrations_number }}</p>
                <p>Inscrit(s)</p>
            </div>
        </div>
        <div class="flex_container details">
            <div class="flex expand">
                {% if event.price != 0 %}
                    <p>{{ event.price }}€</p>
                    <p>Prix</p>
                {% else %}
                    <p>Gratuit</p>
                {% endif %}
            </div>
        </div>
    </div>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <script>
            create_calendar("id_birth_date");
        </script>
        <button>S'inscrire</button>
    </form>
{% endblock %}


