{% extends 'core/base.html' %}
{% load static %}
{% load menu_item %}

{% block styles %}
{% endblock %}

{% block header %}
	Evènements à venir
{% endblock %}

{% block menu %}
    {% if user_is_bde_member %}
        {% menu_item "Administration" "events:admin_index" %}
    {% endif %}
{% endblock %}

{% block scripts %}
	<script src="{% static 'js/json_request.js' %}"></script>
	<script src="{% static 'events/js/event_list.js' %}"></script>
{% endblock %}

{% block main %}
    {% for inscription, event in events %}
    <div class="event">
        <div>
            {% if envent.photo %}
                <img src="{{ event.photo.url }}" alt="event-picture"/>
            {% else %}
                <img src="{% static 'images/default_event_icon.png' %}" alt="event-picture"/>
            {% endif %}

        </div>
        <div>
            <header>
                <h3>{{ event.name }}</h3>
                <p>{{ event.location }}, du {{ event.start_time }} au {{ event.end_time }}</p>
            </header>
            <main>
                <p>{{ event.description }}</p>
                <a href="#">En savoir plus</a>
            </main>
        </div>
        <div>
            <p class="inscription_count">{{ event.registrations_number }}</p>
            <p>Participants</p>

            {% if inscription %}
                <button onclick="inscription(this, {{event.id}});return false;" class="red_button">Se désinscrire</button>
            {% else %}
                <button onclick="inscription(this, {{event.id}});return false;">S'inscrire</button>
            {% endif %}
        </div>
    </div>
    {% endfor %}

{% endblock %}
