{% extends 'core/base.html' %}
{% load static %}
{% load menu_item %}

{% block styles %}
		<link rel="stylesheet" href="{% static 'accounts/css/list.css' %}" />
{% endblock %}

{% block header %}
	Evènements à venir
{% endblock %}

{% block menu %}
	{% menu_item "Administration" "events:admin_index" %}
{% endblock %}

{% block scripts %}
	<script src="{% static 'js/json_request.js' %}"></script>
	<script src="{% static 'events/js/event_list.js' %}"></script>
{% endblock %}

{% block main %}
	<ul class="userlist">
		{% for inscription, event in events %}
			<li>
				<a href="#">
					<div>
						{{ event.name }} ({{ event.start_time }})
					</div>
					<div style="margin-left: auto; margin-right:5px">
						{% if inscription %}
							<button onclick="inscription(this, {{event.id}});return false;" class="red_button">Se désinscrire</button>
						{% else %}
							<button onclick="inscription(this, {{event.id}});return false;">S'inscrire</button>
						{% endif %}
					</div>
				</a>
			</li>
		{% endfor %}
	</ul>

{% endblock %}
