{% extends 'core/base.html' %}

{% load static %}
{% load menu_item %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'accounts/css/edit.css' %}" />
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/calendar.js' %}"></script>
{% endblock %}

{% block title %}
    Covoiturage
{% endblock %}

{% block header %}
    Covoiturage
{% endblock %}

{% block menu %}
    {% menu_item 'Liste des covoiturages' 'carshare:index' %}
    {% menu_item 'Créer un covoiturage' 'carshare:create' %}
{% endblock%}

{% block main %}
    <form action="{% url 'carshare:create' %}" method="POST">
        {% csrf_token %}
        {{ form }}
        <button>Publier l'offre de covoiturage</button>
    </form>
{% endblock %}

