{% extends 'core/base.html' %}

{% load static %}
{% load menu_item %}
{% load markdown %}

{% block styles %}
{% endblock %}

{% block scripts %}
{% endblock %}

{% block title %}
    Covoiturage
{% endblock %}

{% block header %}
    Covoiturage
{% endblock %}

{% block menu %}
    {% menu_item 'Liste des covoiturages' 'carshare:index' %}
    {% menu_item 'Créer un covoiturage' 'carshare:create' %}
{% endblock%}

{% block main %}

    <div class="announce">
        <header>
            <h1>{{ announcement.title }}</h1>
            <h2>
                Proposé par {{ announcement.author.profile }} le {{ announcement.pub_date }}
                {% if announcement.author == request.user or perms.carshare.change_announcement %}
                    <a href="{% url 'carshare:edit' aid=announcement.id %}" title="Editer"><i class="fa fa-pencil"></i></a>
                {% endif %}
                {% if announcement.author == request.user or perms.carshare.delete_announcement %}
                    <a href="{% url 'carshare:delete' aid=announcement.id %}" class="red" title="Supprimer"><i class="fa fa-trash-o"></i></a>
                {% endif %}
            </h2>
        </header>
        <p>{{ announcement.description|markdown }}</p>
        <div class="flex_container details">
            <div class="flex expand"><p>{{ announcement.date }}</p><p>Date de départ</p></div>
        </div>
        <div class="flex_container details">
            <div class="flex expand"><p>{{ announcement.source }}</p><p>Lieu de départ</p></div>
            <div class="flex expand"><p>{{ announcement.destination }}</p><p>Lieu d'arrivée</p></div>
        </div>
        <div class="flex_container details">
            <div class="flex expand"><p>{{ announcement.available_places }}</p><p>Places libres</p></div>
            <div class="flex expand"><p>{{ announcement.price }} €</p><p>Prix</p></div>
        </div>
    </div>

    {% if registrations %}
        <h2>Demandes et commentaires</h2>

        {% for registration in registrations %}
        <div class="comment">
            <div>
                <header>
                    <hgroup>
                        <h4>
                            {{ registration.user.profile }}
                        </h4>
                        <h5>
                            {{ registration.pub_date }}
                            {% if perms.carshare.delete_registration %}
                                <a href="{% url 'carshare:delete_registration' rid=registration.id %}" class="red" title="Supprimer" ><i class="fa fa-trash-o"></i></a>
                            {% endif %}
                        </h5>
                    </hgroup>
                    {% if not registration.is_simple_comment %}
                    <div>
                        {% if request.user == announcement.author and not registration.status %}
                            <span class="status">{{ registration.status_name }} </span>
                            <a href="{% url 'carshare:action' aid=announcement.id rid=registration.id state='accepted' %}" class="status accepted" >Accepter</a>
                            <a href="{% url 'carshare:action' aid=announcement.id rid=registration.id state='refused' %}" class="status refused" >Refuser</a>
                        {% else %}
                            <span class="status {{ registration.status }}">{{ registration.status_name }}</span>
                        {% endif %}
                    </div>
                    {% endif %}
                </header>
                <main>
                    <p>
                        {{ registration.comment|markdown }}
                    </p>
                </main>
            </div>
        </div>
        {% endfor %}
    {% endif %}


    <h2>Ajouter une demande ou un commentaire</h2>
    <form action="{% url 'carshare:show' aid=announcement.id %}" method="POST">
        {% csrf_token %}
        {{ form.comment.errors }}
        {{ form.comment }}
        <br /><br/>
        {% if request.user != announcement.author %}
            <button name="action" value="register">Faire une demande</button>
        {% endif %}
        <button name="action" value="comment">Commenter</button>
    </form>

{% endblock %}

