{% extends 'core/base.html' %}
{% load menu_item %}

{% block header %} Liste des sondages {% endblock %}

{% block menu %}
	{% menu_item "Liste" "poll:index" %}
	{% menu_item "Administration" "poll:admin" %}
{% endblock %}

{% block main %}
	<ul>
		{% for poll in polls %}
			{% if poll.is_open %}
				<li><a href="{% url 'poll:poll' pid=poll.id %}">{{ poll }} (Fin le {{ poll.end_date }})</a></li>
			{% else %}
				{% if poll.is_ended %}
					<li><a href="{% url 'poll:poll' pid=poll.id %}">{{ poll }} (Terminé le {{ poll.end_date }})</a></li>
				{% else %}
					<li><a href="{% url 'poll:poll' pid=poll.id %}">{{ poll }} (Ouverture le {{ poll.end_date }})</a></li>
				{% endif %}
			{% endif %}
		{% endfor %}
	</ul>
{% endblock %}

