<fieldset id="div_q{{ qid }}">
	<label for="{{ real_qid }}">Question: </label>
	{{ question_form }}
	<button onclick="add_response({{qid}});return false;">+</button>
	<button class="red_button" onclick="del_question({{qid}});return false;">x</button>
	<div id="q_a{{real_qid}}"></div>
	<div id="q_a{{qid}}">
		{% for answer in answers %}
			<div id="div_q{{ qid }}_{{ forloop.counter }}">
				<label for="answer">Réponse: </label>
				{{ answer }}
				<button class="red_button" onclick="del_answer({{qid}},{{ forloop.counter }});return false;">x</button>
			</div>
		{% endfor %}
	</div>
</fieldset>
