{% extends 'core/base.html' %}
{% load menu_item %}
{% load static %}

{% block menu %}
    {% if perms.pizza.manage_pizza %}
        {% menu_item "Administration" 'pizza:admin_index' %}
    {% endif %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/json_request.js' %}"></script>
    <script>
        function del_line(data){
            if(data["status"] == 1){
                this.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode);
            }
        }
        function del_pizza(iid, elmt){
            queryJson('', {"iid": iid}, del_line.bind(elmt));
        }
    </script>
{% endblock %}
{% block header %}
    Commande du {{ command.date }}
{% endblock %}


{% block main %}
    {% if inscriptions %}
        <h2>Resumé de votre commande</h2>
        <table>
            <thead>
                <tr><th>Pizza</th><th>Supprimer</th></tr>
            </thead>
            {% for ins in inscriptions %}
                <tr><td style="width: 100%">{{ ins.pizza.name }}</td><td style="text-align: center"><a href="#" onclick="del_pizza('{{ins.id}}', this); return false;"><i class="fa fa-trash-o red"></i></a></td></tr>
            {% endfor %}
        </table>
    {% endif %}
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Commander</button>
    </form>

{% endblock %}
