{% extends 'core/base.html' %}

{% load static %}
{% load menu_item %}

{% block styles %}
{% endblock %}

{% block scripts %}
{% endblock %}

{% block title %}
    Edition
{% endblock %}

{% block header %}
    Edition d'une actualité
{% endblock %}

{% block menu %}
    {% menu_item 'Actualités' 'news:index' %}
    {% if request.user.is_active %}
        {% menu_item 'Editer une actualité' 'news:edit' nid=news.id %}
    {% endif %}
{% endblock%}

{% block main %}
    <form action="{% url 'news:edit' nid=news.id %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Publier</button>
    </form>
{% endblock %}

