{% extends 'core/base.html' %}

{% load static %}
{% load menu_item %}
{% load markdown %}

{% block styles %}
{% endblock %}

{% block scripts %}
{% endblock %}

{% block title %}
    Actualités
{% endblock %}

{% block header %}
    Actualités
{% endblock %}

{% block menu %}
    {% if request.user.is_active and user_is_bde_member %}
        {% menu_item 'Actualités' 'news:index' %}
        {% menu_item 'Ajouter une actualité' 'news:create' %}
    {% endif %}
{% endblock%}

{% block main %}
    {% if news %}
        {% for new in news %}
            <article class="news">
                <header>
                    <h1>{{ new.title }}</h1>
                    <h2>
                        Le {{ new.pub_date }} par {{ new.author.profile }}
                        {% if user_is_bde_member %}
                            <a href="{% url 'news:edit' nid=new.id %}" title="Editer"><i class="fa fa-pencil"></i></a>
                            <a href="{% url 'news:delete' nid=new.id %}" class="red" title="Supprimer"><i class="fa fa-trash-o"></i></a>
                        {% endif %}
                    </h2>
                </header>
                <main>
                    {{ new.content|markdown }}
                </main>
            </article>
        {% endfor %}
    {% else %}
        <p>
            Il n'y a pas d'actualités.
        </p>
    {% endif %}
{% endblock %}
