* {
  box-sizing: border-box; }

html {
  height: 100%;
  color: #333; }

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background-color: #FFF;
  display: flex;
  flex-flow: row;
  align-items: stretch; }

a {
  text-decoration: none; }

nav > ul {
  padding: 0;
  list-style: none; }

.center {
  text-align: center; }

#main_container {
  flex: 1 1 auto;
  padding: 2.5em; }

#nav_container {
  min-width: 300px;
  flex: 0 1 300px;
  background-color: #333;
  padding: 1.2em; }
  #nav_container header {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    margin: 1em 0; }
    #nav_container header div {
      flex: 1 1 auto; }
    #nav_container header nav {
      text-align: right; }
      #nav_container header nav a {
        display: block;
        padding: 0.25em;
        color: white;
        font-size: 1.5em; }
  #nav_container main form {
    margin: 2.2em 0; }
    #nav_container main form div {
      position: relative;
      height: 2em; }
    #nav_container main form i {
      display: block;
      position: absolute;
      color: #555;
      margin: 0.5em 0 0 0.5em;
      text-shadow: 0 0 10px transparent;
      transition: color 0.5s, text-shadow; }
    #nav_container main form input {
      display: block;
      position: absolute;
      background-color: #3A3A3A;
      border: none;
      border-radius: 3px;
      padding: 0.5em 1em 0.5em 1.75em;
      width: 100%;
      color: #CCC;
      transition: background-color 0.25s; }
      #nav_container main form input:focus {
        background-color: #444; }
        #nav_container main form input:focus + i {
          color: orange;
          text-shadow: 0 0 10px orange; }
  #nav_container main nav a {
    color: white;
    display: block;
    padding: 0.75em 1em;
    border-radius: 3px;
    margin: 5px 0; }
    #nav_container main nav a:hover, #nav_container main nav a.selected {
      background-color: #2a2a2a; }

#user_container {
  min-width: 225px;
  flex: 0 1 225px;
  background-color: #f2f2f2;
  padding: 1em; }
  #user_container header h1 {
    font-size: 1em;
    margin: 0.75em 0; }
    #user_container header h1 i {
      color: #bbb; }
  #user_container header input, #user_container header label {
    display: block;
    width: 100%;
    margin: 0.5em 0; }
  #user_container header label {
    padding: 0.25em 0; }
  #user_container header input {
    background-color: #fff;
    border: 1px solid #dfdfdf;
    padding: 0.4em 0.6em; }
  #user_container header button {
    background-color: #FCCD76;
    width: 100%;
    border-radius: 3px;
    border: none;
    padding: 0.5em 1em;
    border-radius: 4px;
    cursor: pointer;
    margin: 0.75em 0;
    transition: background-color 0.25s;
    color: white; }
    #user_container header button i {
      padding: 0 1em;
      vertical-align: middle; }
    #user_container header button:hover {
      background-color: #FFC458; }
  #user_container header img {
    display: block;
    border-radius: 10px;
    width: 50%;
    margin: 1em auto; }
  #user_container header nav a {
    display: block;
    padding: 0.25em 0;
    background-color: #fccd76;
    margin: 0.4em 0;
    color: white;
    border-radius: 4px;
    padding: 0.5em;
    transition: background-color 0.25s; }
    #user_container header nav a:hover {
      background-color: #ffc458; }
  #user_container header nav i {
    border-radius: 2em;
    text-align: center;
    color: white; }

#logo {
  width: 150px; }

/*# sourceMappingURL=base.css.map */
