@font-face {
  font-family: "Oxygen";
  src: url("../contrib/Oxygen/Oxygen-Regular.ttf");
  font-weight: normal;
  font-style: normal; }
* {
  box-sizing: border-box;
  font-family: "Oxygen"; }

html {
  height: 100%;
  color: #333; }

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background-color: #FFF;
  display: flex;
  flex-flow: row;
  align-items: stretch; }

a {
  text-decoration: none; }

nav > ul {
  padding: 0;
  list-style: none; }

@media screen and (max-width: 640px) {
  body {
    flex-flow: column; } }
button, .button {
  background-color: #68B9DE;
  padding: 0.25em 0.5em;
  cursor: pointer;
  padding: 0.5em 1em;
  border: none;
  border-radius: 3px;
  color: white; }
  button i, .button i {
    vertical-align: middle;
    margin: 0 0.5em; }

form p {
  display: flex;
  flex-flow: row;
  align-items: center; }
  form p label {
    flex: 0 1 35%;
    min-width: 35%;
    display: inline-block;
    font-weight: bold;
    padding-right: 0.5em; }
  form p input, form p .button, form p textarea {
    flex: 0 1 65%;
    display: inline-block;
    border-radius: 0; }
    form p input:last-child, form p .button:last-child, form p textarea:last-child {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px; }
    form p input + input, form p .button + input, form p textarea + input {
      border-left: none; }
  form p label + input {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px; }
  form p button, form p .button {
    padding: 0.25em 0.5em;
    border-radius: 0; }
    form p button:last-child, form p .button:last-child {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px; }
    form p button:first-child, form p .button:first-child {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px; }

input, textarea {
  padding: 0.25em 0.5em;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  border-radius: 3px; }
  input:focus, textarea:focus {
    border-color: #68B9DE; }

select {
  padding: 0.25em 0.5em; }

legend {
  padding: 1em;
  margin: 0 0 0 2em;
  font-size: 0.95em; }

fieldset {
  border: none;
  border-top: 1px solid #ccc;
  padding: 1em 0;
  margin: 1em 0; }

.red_button {
  background-color: #E06060; }

.errorlist {
  background-color: #E06060;
  font-weight: bold;
  color: white;
  list-style: none;
  padding: 1em;
  margin-bottom: 0; }

.errorlist + p {
  background-color: #EA9797;
  margin-top: 0;
  color: white;
  padding: 1em; }
  .errorlist + p input {
    background-color: #F9C3C3;
    border-color: #CF8383; }
    .errorlist + p input:focus {
      border-color: red; }

@media screen and (max-width: 768px) {
  form select {
    width: 100%; }
  form input, form textarea {
    width: 100%; }
  form p {
    flex-flow: column; }
    form p label, form p input {
      width: 100%;
      margin: 0.25em 0; }
    form p input {
      padding: 0.25em 0.5em;
      border-radius: 3px; }
      form p input + input {
        border-left: 1px solid #ccc; }
    form p input, form p .button, form p label {
      flex: 0 1 100%;
      display: block;
      border-radius: 3px; }
      form p input:last-child, form p .button:last-child, form p label:last-child {
        border-radius: 3px; }
      form p input + input, form p .button + input, form p label + input {
        border-left: 1px solid #ccc; }
    form p label + input, form p label + textarea {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px; }
    form p button, form p .button {
      padding: 0.25em 0.5em;
      border-radius: 3px;
      width: 100%;
      margin: 0.25em 0; } }
.center {
  text-align: center; }

.flex_container {
  display: flex;
  flex-flow: row;
  align-items: stretch; }
  .flex_container.center_vertical {
    align-items: center; }
  .flex_container.start {
    align-items: flex-start; }

.right {
  text-align: right; }

.flex {
  flex: 0 1 auto; }
  .flex.expand {
    flex: 1 1 auto; }
  .flex.expand30 {
    flex: 0 1 30%;
    min-width: 30%; }
  .flex.expand50 {
    flex: 0 1 50%;
    min-width: 50%; }

.spinner {
  margin: 2em auto;
  padding: 2em;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  animation-duration: 0.5s;
  animation-name: spin;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  border-top: 3px solid #bbb;
  border-right: 3px solid transparent; }

@keyframes spin {
  from {
    transform: rotate(0); }
  to {
    transform: rotate(1turn); } }
.expand {
  width: 100%;
  display: block; }

.bg_grey {
  background-color: #bbb; }

.blue {
  background-color: #68B9DE;
  color: white; }

.hidden {
  display: none; }

#main_container {
  flex: 1 1 auto;
  padding: 2.5em; }
  #main_container header h1 {
    border-bottom: 1px solid #68B9DE;
    padding: 0 0 0.75em 0;
    margin: 1em 0;
    color: #999; }
  #main_container header nav {
    margin: 1em 0 2em 0; }
    #main_container header nav ul {
      display: flex;
      width: 100%; }
  #main_container header li {
    flex: 1 1 100%;
    align-self: stretch; }
    #main_container header li:last-child a {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      text-align: right; }
    #main_container header li:first-child a {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      text-align: left; }
  #main_container header a {
    display: block;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: #B3D6E6;
    padding: 0.5em 1em;
    margin: 0 0.5em 0 0;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.25s; }
    #main_container header a.selected, #main_container header a:hover {
      background-color: #68B9DE; }
  #main_container main {
    color: #555; }
    #main_container main h2 {
      color: #ccc; }

@media screen and (max-width: 768px) {
  #main_container header nav li {
    display: block; }
    #main_container header nav li a {
      text-align: left; }
    #main_container header nav li:last-child a {
      border-radius: 0;
      border-bottom-right-radius: 3px;
      border-bottom-left-radius: 3px;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
      text-align: left; }
    #main_container header nav li:first-child a {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      border-top-right-radius: 3px;
      border-top-left-radius: 3px; }
  #main_container header nav ul {
    flex-flow: column; } }
#nav_container {
  min-width: 300px;
  flex: 0 1 300px;
  background-color: #333;
  padding: 1.2em; }
  #nav_container header {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    margin: 1em 0; }
    #nav_container header div {
      flex: 1 1 auto; }
    #nav_container header nav {
      text-align: right; }
      #nav_container header nav a {
        display: block;
        padding: 0.25em;
        color: white;
        font-size: 1.5em; }
  #nav_container main form {
    margin: 2.2em 0; }
    #nav_container main form div {
      position: relative;
      height: 2em;
      font-size: 15px; }
    #nav_container main form i {
      font-size: 18px;
      display: block;
      position: absolute;
      color: #555;
      margin: 0.5em 0 0 0.5em;
      text-shadow: 0 0 10px transparent;
      transition: color 0.5s, text-shadow; }
    #nav_container main form input {
      font-size: 15px;
      display: block;
      position: absolute;
      background-color: #3A3A3A;
      border: none;
      border-radius: 3px;
      padding: 0.5em 1em 0.5em 1.75em;
      width: 100%;
      color: #CCC;
      transition: background-color 0.25s; }
      #nav_container main form input:focus {
        background-color: #444; }
        #nav_container main form input:focus + i {
          color: orange;
          text-shadow: 0 0 10px orange; }
  #nav_container main nav a {
    color: white;
    display: block;
    padding: 0.75em 1em;
    border-radius: 3px;
    margin: 5px 0; }
    #nav_container main nav a:hover, #nav_container main nav a.selected {
      background-color: #2a2a2a; }

#logo {
  width: 150px; }

@media screen and (max-width: 1280px) {
  #nav_container {
    min-width: 200px;
    flex: 0 1 200px;
    padding: 0.75em; }
    #nav_container header {
      flex-flow: column;
      text-align: center; }
      #nav_container header nav ul li {
        display: inline-block; } }
#user_container {
  min-width: 225px;
  flex: 0 1 225px;
  background-color: #f2f2f2;
  padding: 1em; }
  #user_container .displayed_on_retracted {
    display: none; }
  #user_container .hidden_on_retracted {
    display: block; }
  #user_container #toggle_user_container {
    text-align: center;
    background-color: #e2e2e2;
    color: #bbb;
    margin: -1em;
    padding: 0.5em;
    transition: background-color 0.25s, color 0.25s;
    cursor: pointer;
    position: fixed;
    width: 225px; }
    #user_container #toggle_user_container:hover {
      background-color: #d2d2d2;
      color: white; }
  #user_container header {
    margin-top: 3em; }
    #user_container header h1 {
      font-size: 1em;
      margin: 0.75em 0; }
      #user_container header h1 i {
        color: #bbb; }
    #user_container header input, #user_container header label {
      display: block;
      width: 100%;
      margin: 0.5em 0; }
    #user_container header label {
      padding: 0.25em 0; }
    #user_container header input {
      background-color: #fff;
      border: 1px solid #dfdfdf;
      padding: 0.4em 0.6em; }
    #user_container header button {
      background-color: #FCCD76;
      width: 100%;
      border-radius: 3px;
      border: none;
      padding: 0.5em 1em;
      border-radius: 4px;
      cursor: pointer;
      margin: 0.75em 0;
      transition: background-color 0.25s;
      color: white; }
      #user_container header button i {
        padding: 0 1em;
        vertical-align: middle; }
      #user_container header button:hover {
        background-color: #FFC458; }
    #user_container header img {
      display: block;
      border-radius: 10px;
      width: 50%;
      margin: 1em auto; }
    #user_container header nav a {
      display: block;
      padding: 0.25em 0;
      background-color: #fccd76;
      margin: 0.4em 0;
      color: white;
      border-radius: 4px;
      padding: 0.5em;
      transition: background-color 0.25s; }
      #user_container header nav a:hover {
        background-color: #ffc458; }
    #user_container header nav i {
      border-radius: 2em;
      text-align: center;
      color: white; }

#user_container.retracted {
  flex: 0 1 50px;
  min-width: 50px;
  padding: 0.5em; }
  #user_container.retracted header img {
    width: 100%;
    border-radius: 2px; }
  #user_container.retracted nav a {
    text-align: center; }
    #user_container.retracted nav a span {
      display: none; }
  #user_container.retracted #username {
    display: none; }
  #user_container.retracted #toggle_user_container {
    width: 50px;
    margin: -0.5em; }
  #user_container.retracted .hidden_on_retracted {
    display: none; }
  #user_container.retracted .displayed_on_retracted {
    display: block; }

.userlist {
  padding: 0;
  list-style: none; }
  .userlist img {
    height: 50px;
    vertical-align: middle;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0); }
  .userlist li a {
    display: flex;
    flex-flow: row;
    align-items: center;
    color: #333;
    height: 50px; }
    .userlist li a:hover {
      background-color: #EEE; }

.picture_container {
  flex: 0 1 50px;
  width: 50px;
  min-width: 50px;
  max-width: 50px;
  margin: 0 1em 0 0;
  overflow: hidden; }

#userlist input {
  width: 100%;
  padding: 0.75em 1em;
  font-weight: bold; }

.userlist_right_button {
  margin-left: auto;
  margin-right: 5px; }

/*# sourceMappingURL=base.css.map */
