.center
  text-align: center

.flex_container
  @include vendor-prefix(display, flex)
  @include vendor-prefix(flex-flow, row)
  @include vendor-prefix(align-items, stretch)

  &.center_vertical
    @include vendor-prefix(align-items, center)

  &.start
    @include vendor-prefix(align-items, flex-start)

.right
  text-align: right

.flex
  @include vendor-prefix(flex, 0 1 auto)
  &.expand
    @include vendor-prefix(flex, 1 1 auto)
  &.expand30
    @include vendor-prefix(flex, 0 1 30%)
    min-width: 30%
  &.expand50
    @include vendor-prefix(flex, 0 1 50%)
    min-width: 50%


.spinner
  margin: 2em auto
  padding: 2em
  width: 50px
  height: 50px
  border-radius: 100%
  animation-duration: 0.5s
  animation-name: spin
  animation-iteration-count: infinite
  animation-timing-function: linear
  border-top: 3px solid #bbb
  border-right: 3px solid transparent

@keyframes spin
  from
    transform: rotate(0)
  to
    transform: rotate(1turn)

.expand
  width: 100%
  display: block

.bg_grey
  background-color: #bbb

.error
  background-color: #E06060
  color: white
  padding: 1em

.red
  color: #E06060

.blue
  background-color: $blue
  color: white

.hidden
  display: none

.markdown
  h1,h2,h3,h4,h5,h6
    color: #aaa

  h1
    font-size: 2em // Because firefox override this

.bold
  font-weight: bold


.toolbar
  @include display_flex()
  @include vendor-prefix('justify-content', flex-end)
  text-align: right
  margin-bottom: 1em

  a
    display: block
    border-radius: 0
    background-color: white
    color: #333
    border: 1px solid #bbb
    padding: 1em 1.25em
    margin: 0

    & + a
      border-left: none
      transition: background-color 0.25s

    &:first-child
      border-top-left-radius: 3px
      border-bottom-left-radius: 3px

    &:last-child
      border-top-right-radius: 3px
      border-bottom-right-radius: 3px

    &:hover
      background-color: #eaeaea

    &:active, &.toggled
      background-color: #ddd

.float_right
  float: right


.pagination
  width: 100%
  text-align: center
  margin: 2em 0
  @include display_flex()
  @include vendor-prefix('justify-content', center)

  .page
    display: block
    border-radius: 0
    background-color: white
    color: #333
    border: 1px solid #bbb
    padding: 1em 1.25em
    margin: 0

    & + .page
      border-left: none
      transition: background-color 0.25s

    &:first-child
      border-top-left-radius: 3px
      border-bottom-left-radius: 3px

    &:last-child
      border-top-right-radius: 3px
      border-bottom-right-radius: 3px

    &:hover
      background-color: #eaeaea

    &:active, &.toggled
      background-color: #ddd
