#main_container
  @include vendor-prefix(flex, 1 1 auto)
  @include vendor-prefix(order, 2)
  max-width: calc(100% - 300px - 225px)

.retracted #main_container
  max-width: calc(100% - 300px - 50px)

.retracted #note
  display: none

.retracted #note_container
  font-size: 0.7em

#main_div
  margin: 2.5em

#main_header
  h1
    border-bottom: 1px solid #68B9DE
    padding:  0 0 0.75em 0
    margin: 1em 0
    color: #999


  nav
    margin: 1em 0 2em 0

    ul
      @include vendor-prefix(display, flex)
      width: 100%

  li
    @include vendor-prefix(flex, 1 1 100%)
    @include vendor-prefix(align-self, stretch)

    &:last-child a
      border-top-right-radius: 3px
      border-bottom-right-radius: 3px
      text-align: right

    &:first-child a
      border-top-left-radius: 3px
      border-bottom-left-radius: 3px
      text-align: left

  a
    display: block
    text-align: center
    width: 100%
    height: 100%
    background-color: #B3D6E6
    padding: 0.5em 1em
    margin: 0 0.5em 0 0
    color: white
    font-weight: bold
    cursor: pointer
    transition: background-color 0.25s

    &.selected, &:hover
      background-color: #68B9DE

  main
    color: #555

@media screen and (max-width: 1280px)
  #main_container
    max-width: calc(100% - 200px - 225px)
  .retracted #main_container
    max-width: calc(100% - 200px - 50px)

@media screen and (max-width: 768px)
  #main_header
    nav
      ul
        display: block

        li
          display: block
          a
            border-radius: 0
            text-align: left

          &:first-child a
            border-top-right-radius: 3px
            border-top-left-radius: 3px
            border-bottom-right-radius: 0
            border-bottom-left-radius: 0

          &:last-child a
            border-top-right-radius: 0
            border-top-left-radius: 0
            border-bottom-right-radius: 3px
            border-bottom-left-radius: 3px
            text-align: left

          &:first-child:last-child a
            border-radius: 3px

@media screen and (max-width: $mobile_view_treshold)
  #main_container
    max-width: 100%
    @include vendor-prefix(flex, 1 1 auto)
    @include vendor-prefix(order, 3)
  .retracted #main_container
    max-width: 100%
