.message
  width: 100%
  padding: 1em
  text-align: center
  z-index: 11

  &.error
    background-color: #E06060

  &.warning
    background-color: orange

  &.info
    background-color: hsl(125,50%,40%)
    color: white
