
.albums
  margin-bottom: 2em

.album
  border-radius: 3px
  font-weight: bold
  a
    padding: 0.5em 0.5em
    color: #555
    display: block

    &:hover
      background-color: #eee


.photo
  display: inline-block
  img
    display: inline-block
    max-width: 100px
    max-height: 100px

