.popup
  background-color: hsla(0,0,0,0.3)
  width: 100%
  height: 100%
  position: fixed
  z-index: 10
  display: none
  padding: 2em

  & > div
    background-color: white
    box-shadow: 0 0 20px hsla(0,0,0,0.3)
    min-width: 100px
    min-height: 100px
    max-height: 100%
    overflow: auto
    border-radius: 3px

  &.pop
    @include vendor-prefix(display, flex)
    @include vendor-prefix(align-items, center)
    @include vendor-prefix(justify-content, center)

  header
    background-color: white
    border-bottom: 1px solid #e2e2e2
    @include vendor-prefix(display, flex)
    @include vendor-prefix(align-items, center)
    padding: 0

    button
      margin: 0
      padding: 0.8em
      background: none
      border: none
      color: #bbb
      border-radius: 0
      font-size: 1.2em
      background-color: white

      &:hover
        color: red

    h1
      font-size: 1.2em
      color: #aaa
      margin: 0
      padding: 0.8em
      @include vendor-prefix(flex, 1 1 auto)

  main
    padding: 1em
    background-color: white
    max-height: 100%

.selection_popup
  @extend .popup

  main
    button
      display: block
      width: 100%
      margin: 1em 0
      border-radius: 3px
      background-color: white
      color: #333
      border: 1px solid #bbb

      &:hover
        background-color: #eaeaea

      &:active, &.toggled
        background-color: #ddd

.user_selection_popup
  @extend .selection_popup

  input
    width: 100%
    padding: 0.5em

.diaporama_popup
  @extend .popup

  img
    box-shadow: 0 0 20px hsla(0,0,0,0.3)
    max-width: 100%
    max-height: 100%
