$user_container_width: 225px


#user_container
  min-width: $user_container_width
  @include vendor-prefix(flex, 0 1 $user_container_width)
  @include vendor-prefix(order, 3)
  background-color: #f2f2f2
  padding: 1em

  .displayed_on_retracted
    display: none

  .hidden_on_retracted
    display: block

  #toggle_user_container
    text-align: center
    background-color: #e2e2e2
    color: #bbb
    margin: -1em
    padding: 0.5em
    transition: background-color 0.25s, color 0.25s
    cursor: pointer
    position: fixed
    width: $user_container_width

    &:hover
      background-color: #d2d2d2
      color: white

  header
    margin-top: 3em
    h1
      font-size: 1em
      margin: 0.75em 0
      i
        color: #bbb

    input, label
      display: block
      width: 100%
      margin: 0.5em 0

    label
      padding: 0.25em 0

    input
      background-color: #fff
      border: 1px solid #dfdfdf
      padding: 0.4em 0.6em

    button
      background-color: #FCCD76
      width: 100%
      border-radius: 3px
      border: none
      padding: 0.5em 1em
      border-radius: 4px
      cursor: pointer
      margin: 0.75em 0
      transition: background-color 0.25s
      color: white

      i
        padding: 0 1em
        vertical-align: middle

      &:hover
        background-color: #FFC458
    img
      display: block
      border-radius: 5px
      width: 100%
      margin: 1em auto

    nav
      a
        display: block
        padding: 0.25em 0
        background-color: #fccd76
        margin: 0.4em 0
        color: white
        border-radius: 4px
        padding: 0.5em
        transition: background-color 0.25s
        &:hover
          background-color: #ffc458
      i
        border-radius: 2em
        text-align: center
        color: white


#user_container.retracted
  @include vendor-prefix(flex, 0 1 50px)
  min-width: 50px
  padding: 0.5em

  header img
    width: 100%
    border-radius: 2px
  nav a
    text-align: center
    span
      display: none

  #username
    display: none

  #toggle_user_container
    width: 50px
    margin: -0.5em

  .hidden_on_retracted
    display: none

  .displayed_on_retracted
    display: block


@media screen and (max-width: 640px)
  #toggle_user_container
    display: none

  #user_container.retracted
    @include vendor-prefix(flex, 1 1 auto)
    @include vendor-prefix(order, 2)

    header
      margin: 1em 2em
      img
        display: none

    ul
      display: -webkit-flex
      display: flex
      @include vendor-prefix(justify-content, space-around)

      a
        padding: 1em 2em

