$base-bg: #FFF
$base-fg: #333
$header-bg: #DDD
$nav-bg: #EEE
$nav-fg: black

@font-face
  font-family: 'Oxygen'
  src: url('../contrib/Oxygen/Oxygen-Regular.ttf')
  font-weight: normal
  font-style: normal

*
  box-sizing: border-box
  font-family: 'Oxygen'

html
  height: 100%
  color: $base-fg

body
  margin: 0
  padding: 0
  min-height: 100%
  background-color: $base-bg
  display: flex
  flex-flow: row
  align-items: stretch

a
  text-decoration: none

nav > ul
  padding: 0
  list-style: none

.center
  text-align: center

#main_container
  flex: 1 1 auto
  padding: 2.5em

  header
    h1
      border-bottom: 1px solid #68B9DE
      padding:  0 0 0.75em 0
      margin: 1em 0
      color: #999
    nav
      margin: 1em 0 2em 0

    li
      display: inline-block
    a
      display: inline-block
      background-color: #B3D6E6
      padding: 0.5em 1em
      border-radius: 3px
      margin: 0 0.5em 0 0
      color: white
      font-weight: bold
      cursor: pointer
      transition: background-color 0.25s

      &.selected, &:hover
        background-color: #68B9DE
  
  main
    color: #555


#nav_container
  min-width: 300px
  flex: 0 1 300px
  background-color: #333
  padding: 1.2em


  header
    display: flex
    flex-flow: row
    justify-content: center
    align-items: center
    margin: 1em 0

    div
      flex: 1 1 auto

    nav
      text-align: right

      a
        display: block
        padding: 0.25em
        color: white
        font-size: 1.5em
 
  main form
    margin: 2.2em 0
    div
      position: relative
      height: 2em
      font-size: 15px

    i
      font-size: 18px
      display: block
      position: absolute
      color: #555
      margin: 0.5em 0 0 0.5em
      text-shadow: 0 0 10px transparent
      transition: color 0.5s, text-shadow

    input
      font-size: 15px
      display: block
      position: absolute
      background-color: #3A3A3A
      border: none
      border-radius: 3px
      padding: 0.5em 1em 0.5em 1.75em
      width: 100%
      color: #CCC
      transition: background-color 0.25s

      &:focus
        background-color: #444

        & + i
          color: orange
          text-shadow: 0 0 10px orange

  main nav a
    color: white
    display: block
    padding: 0.75em 1em
    border-radius: 3px
    margin: 5px 0

    &:hover, &.selected
      background-color: #2a2a2a

#user_container
  min-width: 225px
  flex: 0 1 225px
  background-color: #f2f2f2
  padding: 1em

  header
    h1
      font-size: 1em
      margin: 0.75em 0
      i
        color: #bbb

    input, label
      display: block
      width: 100%
      margin: 0.5em 0

    label
      padding: 0.25em 0

    input
      background-color: #fff
      border: 1px solid #dfdfdf
      padding: 0.4em 0.6em

    button
      background-color: #FCCD76
      width: 100%
      border-radius: 3px
      border: none
      padding: 0.5em 1em
      border-radius: 4px
      cursor: pointer
      margin: 0.75em 0
      transition: background-color 0.25s
      color: white

      i
        padding: 0 1em
        vertical-align: middle

      &:hover
        background-color: #FFC458
    img
      display: block
      border-radius: 10px
      width: 50%
      margin: 1em auto

    nav
      a
        display: block
        padding: 0.25em 0
        background-color: #fccd76
        margin: 0.4em 0
        color: white
        border-radius: 4px
        padding: 0.5em
        transition: background-color 0.25s
        &:hover
          background-color: #ffc458
      i
        border-radius: 2em
        text-align: center
        color: white


#logo
  width: 150px
