$base-bg: #FFF
$base-fg: #333
$header-bg: #DDD
$nav-bg: #EEE
$nav-fg: black
$blue: #68B9DE

@font-face
  font-family: 'Oxygen'
  src: url('../contrib/Oxygen/Oxygen-Regular.ttf')
  font-weight: normal
  font-style: normal

*
  box-sizing: border-box
  font-family: 'Oxygen'

html
  height: 100%
  color: $base-fg

body
  margin: 0
  padding: 0
  min-height: 100%
  background-color: $base-bg
  display: flex
  flex-flow: row
  align-items: stretch

a
  text-decoration: none
  color: $blue


nav > ul
  padding: 0
  list-style: none

@media screen and (max-width: 640px)
  body
    flex-flow: column

@import "forms"
@import "tables"
@import "classes"
@import "main"
@import "nav"
@import "user"
@import "userlist"
@import "popup"
@import "events"
@import "carshare"
@import "news"
@import "notifications"
@import "shop"
