{% extends 'core/base.html' %}

{% load static %}
{% load menu_item %}

{% block styles %}
		<link rel="stylesheet" href="{% static 'accounts/css/list.css' %}" />
{% endblock %}

{% block scripts %}
	<script src="{% static 'accounts/js/userlist.js' %}"></script>
{% endblock %}

{% block title %}
	Liste des membres
{% endblock %}

{% block header %}
	Liste des membres
{% endblock %}

{% block menu %}
	{% menu_item 'Liste des membres' 'accounts:members' %}
	{% menu_item 'Mon profil' 'accounts:show' username=request.user.username %}
	{% if request.user.username == user.username %}
		{% menu_item 'Editer mon profil' 'accounts:edit' username=user.username %}
	{% endif %}
{% endblock%}

{% block main %}
	<div id="userlist"><div class="spinner"></div></div>

    <script>
        window.addEventListener('load', function(){
            console.log("ok");
            var userList = new UserList('userlist');
        });
    </script>
{% endblock %}
