{% extends 'core/base.html' %}

{% load static %}
{% load menu_item %}

{% block styles %}
{% endblock %}

{% block scripts %}
{% endblock %}

{% block title %}
    Demamdes de création de compte
{% endblock %}

{% block header %}
    Demandes de création de compte
{% endblock %}

{% block menu %}
{% endblock%}

{% block main %}
    {% if error == 'username' %}
        <p class="error">
            Le nom d'utilisateur est déja utilisé.
        </p>
    {% elif error == 'email' %}
        <p class="error">
            L'adresse email est déja utilisée.
        </p>
    {% endif %}


    {% if requests %}
        <ul class='request_list'>
            {% for request in requests %}
            <li class="flex_container"><span class="flex expand">{{ request.first_name }} {{ request.last_name }} <a href="mailto:{{ request.email }}">{{ request.email }}</a></span><span> <a href="{% url 'accounts:accept-request' rid=request.id %}">Accepter</a></span><span><a href="{% url 'accounts:reject-request' rid=request.id %}" class="red">Rejeter</a></span></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>
            Il n'y a pas de demande de création de compte
        </p>
    {% endif %}
{% endblock %}
