{% extends 'core/base.html' %}

{% load static %}
{% load menu_item %}

{% block styles %}
{% endblock %}

{% block scripts %}
{% endblock %}

{% block title %}
    Réinitialisation du mot de passe
{% endblock %}

{% block header %}
    Réinitialisation du mot de passe
{% endblock %}

{% block menu %}
{% endblock%}

{% block main %}

    {% if validlink %}
        <p>
            Pour terminer la réinitialisation de votre mot de passe vous devez
            en rentrer un nouveau dans le formulaire ci-dessous.
        </p>
        <form action="{{ request.path }}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button>valider</button>
        </form>
    {% else %}
        <p>
            Le liens a expiré ou n'est pas valide.
        </p>
    {% endif %}

{% endblock %}
