{% load static %}
{% load menu_item %}

<!DOCTYPE>

<html>
	<head>
		<title>{% block title %}Site des élèves{% endblock %}</title>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="{% static 'css/base.css' %}" />
		{% block styles %}{% endblock %}
		{% block scripts %}{% endblock %}
	</head>
	<body>
		<section id="header">
			<img id="logo" src="{% static 'images/logo.png' %}" alt="logo-bde"/>
			<div>
				<p>
					<q>
						Aaaaah cher élève ...
					</q>
				</p>
			</div>
		</section>

		<section id="nav">
			<nav>
				<ul>
					{% base_menu_item 'Index' 'core:index' %}
					{% if request.user.is_active %}
						{% base_menu_item 'Profil' 'accounts:show' username=request.user.username %}
						{% base_menu_item 'Logout' 'accounts:logout' %}
					{% else %}
						{% base_menu_item 'Login' 'accounts:login' %}
					{% endif %}
				</ul>
			</nav>
		</section>

		<section id="main_container">
			<h1>
				{% block header %}
				{% endblock header %}
			</h1>
			{% block main %}
			{% endblock main %}
		</section>

		<section id="footer">
		</section>

	</body>
</html>
