{% load static %}
{% load menu_item %}

<!DOCTYPE html>

<html>
    <head>
        <title>{% block title %}Site des élèves{% endblock %}</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/base.css' %}" />
        <link rel="stylesheet" href="{% static 'contrib/font-awesome-4.4.0/css/font-awesome.min.css' %}" />
        <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}"/>
        {% block styles %}{% endblock %}
            <script src="{% static 'js/user_container.js' %}" ></script>
            <script src="{% static 'js/messages.js' %}" ></script>
            <script src="{% static 'js/percent.js' %}" ></script>
        {% block scripts %}{% endblock %}
    </head>
    <body>
        <section id="nav_container" class="">
            <header>
                <div>
                    <a href="{% url 'news:index' %}">
                        <img id="logo" src="{% static 'images/logo.png' %}" alt="logo" />
                    </a>
                </div>
                <nav>
                    <ul>
                        <li><a href="{% url 'webmail:index' %}"><i class="fa fa-envelope"></i></a></li>
                        {% if request.user.is_active %}
                            {% if user_have_notifications %}
                                <li><a href="{% url 'notifications:index' %}"><i class="fa fa-inbox" id="new_notification"></i></a></li>
                            {% else %}
                                <li><a href="{% url 'notifications:index' %}"><i class="fa fa-inbox"></i></a></li>
                            {% endif %}
                            {% if user_note %}
                                <li><a href="{% url 'enibar:show_history' %}"><i class="fa fa-beer"></i></a></li>
                            {% endif %}
                        {% endif %}
                        <li><a href="{% url 'help:index' %}"><i class="fa fa-question-circle"></i></a></li>
                    </ul>
                </nav>
            </header>
            <main>
                {% if request.user.is_active %}
                    <div id="percent">Le percent c'est dans <span id="percent-date"></span></div>
                    {% if quote %}
                        <div id="quote"><a href="{% url 'quotes:add_quote' %}"><quote>{{ quote }}</quote><div class="prof">{{ quote_prof }}</div></a></div>
                    {% else %}
                        <div><a href="{% url 'quotes:add_quote' %}">Ajouter une citation</a></div>
                    {% endif %}
                {% endif %}
                <nav>
                    <ul>
                        {% _base_menu_item 'Actualités' 'news:index' %}
                        {% _base_menu_item 'Annuaire' 'accounts:members' %}
                        {% _base_menu_item 'Bureau des élèves' 'bde:index' %}
                        {% _base_menu_item 'Sondages' 'poll:index' %}
                        {% _base_menu_item 'Evènements' 'events:index' %}
                        {% _base_menu_item 'Covoiturage' 'carshare:index' %}
                        {% _base_menu_item 'Boutique' 'shop:index' %}
                        {% _base_menu_item 'Pizzas' 'pizza:index' %}
                        {% _base_menu_item 'Associations' 'asso:index' %}
                        {% if perms.auth %}
                            {% _base_menu_item 'Permissions' 'permissions:users' %}
                        {% endif %}
                        {% _base_menu_item 'Photos' 'photo:browse' '' %}
                        {% _base_menu_item 'Partenariats' 'partnerships:index' %}
                    </ul>
                </nav>
            </main>
        </section>

        <section id="main_container">
            <div id='messages'></div>
            {% if request.user.is_active and not request.user.profile.is_valid %}
                <script>add_message("error", "Veuillez remplir les informations de votre profil svp. (Nom, prénom et/ou surnom)", 0);</script>
            {% endif %}
            {% if messages %}
                <script>
                    {% for message in messages %}
                            add_message("{{ message.tags }}", "{{ message }}");
                    {% endfor %}
                </script>
            {% endif %}
            <div id="main_div">
                <header id="main_header">
                    <h1>
                        {% block header %}
                            Default title
                        {% endblock header %}
                    </h1>

                    <nav>
                        <ul>
                            {% block menu %}
                            {% endblock menu %}
                        </ul>
                    </nav>
                </header>
                <main id="main">
                    {% block main %}
                    {% endblock main %}
                </main>
            </div>
        </section>

        <section id="user_container" class="">
      <div id="toggle_user_container"><i class="fa fa-chevron-right"></i></div>
            <header>
                {% if request.user.is_active %}
                    {% if request.user.profile.picture %}
                        <img src="{{ request.user.profile.picture.url }}" alt="picture" />
                    {% else %}
                        <img src="{% static 'images/default_user_icon.png' %}" alt="picture"/>
                    {% endif %}
                    <h1 id="username" class="center">{{ request.user.profile }}</h1>
                    {% if user_note %}
                        <h5 id="note_container">
                            <span id="note">Note: </span>
                            {% if user_note.note < 0 %}
                                <span class="red">{{ user_note.note }} €</span>
                            {% else %}
                                <span class="green">{{ user_note.note }} €</span>
                            {% endif %}
                        </h5>
                    {% endif %}
                    <nav>
                        <ul>
                              <li><a href="{% url 'accounts:show' username=request.user.username %}"><i class="fa fa-user"></i> <span>Mon profil</span></a></li>
                              <li><a href="{% url 'core:settings' %}"><i class="fa fa-cog"></i> <span>Paramètres</span></a></li>
                              <li><a href="{% url 'accounts:logout' %}"><i class="fa fa-sign-out"></i> <span>Deconnexion</span></a></li>
                        </ul>
                    </nav>
                {% else %}
          <div class="hidden_on_retracted">
              <h1>Connexion<a href="{% url 'help:index' %}#inscriptions"> <i class="fa fa-question-circle"></i></a></h1>
            <form action="{% url 'accounts:login' %}" method="POST">
              {% csrf_token %}

              <input type="text" id="email" name="email" placeholder="email"/>
              <input type="password" id="password" name="password" placeholder="password"/>

              <input type="hidden" name="next" value="{{ request.path }}" />
              <button>connexion <i class="fa fa-sign-in"></i></button>
            </form>
          </div>
          <div class="displayed_on_retracted">
            <nav>
              <ul>
                <li><a href="{% url 'accounts:login' %}"><i class="fa fa-sign-in"></i> <span>Connexion</span></a></li>
              </ul>
            </nav>
          </div>
                {% endif %}
            </header>
            <main>

            </main>
        </section>

    </body>
</html>
