{% extends 'core/base.html' %}

{% load static %}
{% load menu_item %}

{% block styles %}
{% endblock %}

{% block scripts %}
{% endblock %}

{% block title %}
    Photos
{% endblock %}

{% block header %}
    Photos
{% endblock %}

{% block menu %}
{% endblock%}

{% block main %}
    <div class="albums">
        {% if path %}
            <div class="album">
                <a href="{% url 'photo:browse' path=parent %}"><i class="fa fa-chevron-left"></i> Album parent</a>
            </div>
        {% endif %}
        {% for album in albums %}
            <div class="album">
                <a href="{% url 'photo:browse' path=album.path%}"><i class="fa fa-folder"></i> {{ album.name }}</a>
            </div>
        {% endfor %}
    </div>
    <div>
        {% for image in images %}
            <a href="{% static image.path %}" class="photo"><img src="{% static image.thumbnail %}" alt="{{image.name}}"/></a>
        {% endfor %}
    </div>
{% endblock %}
