{% extends 'core/base.html' %}

{% load static %}
{% load menu_item %}
{% load markdown %}

{% block header %}
    {{ asso.name }}
{% endblock %}

{% block menu %}
    {% menu_item 'Liste des associations' 'asso:index' %}
    {% if user_is_admin %}
        {% menu_item 'Gérer les membres' 'asso:manage_members' aid=asso.pk %}
        {% menu_item 'Editer' 'asso:edit' aid=asso.pk %}
    {% endif %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/json_request.js' %}"></script>
    <script src="{% static 'js/list.js' %}"></script>
    <script src="{% static 'js/userlist.js' %}"></script>
{% endblock %}

{% block main %}
    <h1>Présentation de l'association</h1>
    <div class="asso">
        <header class="flex_container">
            {% if asso.picture %}
                <div>
                    <img src="{{ asso.picture.url }}" alt="asso-picture" />
                </div>
            {% endif %}

            <div class="links">
                {% if asso.site %}
                    <a href="{{ asso.site }}"><i class="fa fa-globe"></i> {{ asso.site }}</a>
                {% endif %}
                {% if asso.mail %}
                    <a href="mailto:{{ asso.mail }}"><i class="fa fa-envelope"></i> {{ asso.mail }}</a>
                {% endif %}
            </div>
        </header>
        <main>
            {% if asso.description %}
                <p>{{ asso.description|markdown }}</p>
            {% else %}
                <p>L'association n'a pas rédigé de description</p>
            {% endif %}
        </main>
    </div>
    <h1>Membres de l'association</h1>
    <div id="userlist"></div>
    <script>
        window.addEventListener('load', function(){
            var userList = new UserList('userlist', '{% url 'asso:members' aid=asso.pk %}', function(user){
                function sendMail(){
                    window.location = "mailto:" + user.email;
                };
                function viewProfile(){
                    window.location = user.profile_url;
                };
                return [
                    new UserList.UserAction('Envoyer un email', sendMail),
                    new UserList.UserAction('Voir le profil', viewProfile),
                ];
            });
        });
    </script>
{% endblock %}
