{% extends 'core/base.html' %}

{% load static %}
{% load menu_item %}
{% load markdown %}

{% block styles %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/json_request.js' %}"></script>
    <script src="{% static 'js/list.js' %}"></script>
    <script src="{% static 'js/userlist.js' %}"></script>
    <script src="{% static 'js/popup.js' %}"></script>
    <script src="{% static 'permissions/js/permissions.js' %}"></script>
{% endblock %}

{% block title %}
    Gestion des permissions
{% endblock %}

{% block header %}
    Gestion des permissions
{% endblock %}

{% block menu %}
    {% menu_item 'Utilisateurs' 'permissions:users' %}
    {% menu_item 'Groupes' 'permissions:groups' %}
{% endblock%}

{% block main %}
    <div id="userlist"></div>
    <script>
        window.addEventListener('load', function(){
            var list = new UserList('userlist', '/accounts/members/', function(user){
                function permEdit(){
                    var popup = new UserPermissionPopup('Permissions de l\'utilisateur ' + user.display_name, user);
                    popup.pop();
                }
                return [
                    new UserList.UserAction('Editer les permissions', permEdit),
                ];
            });
        });
    </script>
{% endblock %}
