{% extends 'core/base.html' %}

{% load static %}
{% load menu_item %}

{% block styles %}
{% endblock %}

{% block scripts %}
	<script src="{% static 'js/json_request.js' %}"></script>
	<script src="{% static 'js/popup.js' %}"></script>
	<script src="{% static 'js/list.js' %}"></script>
	<script src="{% static 'js/userlist.js' %}"></script>
    <script src="{% static 'bde/js/contributors.js' %}"></script>
{% endblock %}

{% block title %}
    Gestion des cotisants
{% endblock %}

{% block header %}
    Gestion des cotisants
{% endblock %}

{% block menu %}
	{% menu_item 'Accueil' 'bde:index' %}
	{% menu_item 'Gestion de cotisants' 'bde:contributors' %}
{% endblock%}

{% block main %}
	<div id="userlist"></div>
{% endblock %}
