{% extends 'core/base.html' %}

{% load static %}
{% load menu_item %}

{% block styles %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/json_request.js' %}"></script>
    <script src="{% static 'js/list.js' %}"></script>
    <script src="{% static 'js/userlist.js' %}"></script>
{% endblock %}

{% block title %}
    Membres du bureau
{% endblock %}

{% block header %}
    Membres du bureau
{% endblock %}

{% block menu %}
    {% include 'bde/menu.html' %}
{% endblock%}

{% block main %}
    <div id="userlist"></div>

    <script>
        window.addEventListener('load', function(){
            var userList = new UserList('userlist', '/bde/memberlist', function(user){
                var toggleMemberShip = function(){
                    if(this.isToggled()){
                        queryJson('', {'user': user.id, 'action': 'delete'}, function(resp){
                            if(resp.error){
                                alert(resp.error);
                            }
                            else{
                                this.setUntoggled();
                                this.element.innerHTML = "Ajouter au bureau";
                            }
                        }.bind(this));
                    }
                    else{
                        console.log(user)
                        queryJson('', {'user': user.id, 'action': 'add'}, function(resp){
                            if(resp.error){
                                alert(resp.error);
                            }
                            else{
                                this.setToggled();
                                this.element.innerHTML = "Retirer du bureau";
                            }
                        }.bind(this));
                    }
                }
                if(user.is_member){
                    text = "Retirer du bureau";
                }
                else{
                    text = "Ajouter au bureau";
                }
                return [
                    new UserList.UserAction(text, toggleMemberShip, user.is_member),
                ];
            });
        });
    </script>
{% endblock %}
