{% extends 'core/base.html' %}
{% load menu_item %}

{% block header %}
    Proposer une citation
{% endblock %}

{% block menu %}
    {% menu_item "Ajouter une citation" "quotes:add_quote" %}
    {% if perms.quotes.manage_prof %}
        {% menu_item "Gerer les profs" "quotes:manage_prof" %}
    {% endif %}
    {% if perms.quotes.manage_quote %}
        {% menu_item "Gerer les citations" "quotes:manage_quotes" %}
    {% endif %}
{% endblock %}

{% block main %}
    <form action="" method="POST">
        {% csrf_token %}
        {{ quote_form.as_p }}
        <button>Envoyer cette citation</button>
    </form>
{% endblock %}
