{% extends 'core/base.html' %}

{% block header %}Connexion{% endblock %}

{% block main %}
		{% if error %}
			<p>
				{{ error }}
			</p>
		{% endif %}
		<form action="{% url 'accounts:login'%}" method="POST">
			{% csrf_token %}
			<p>
				<label for="email">User email</label>
				<input type="text" id="email" name="email" required />
			</p>

			<p>
				<label for="password">Password</label>
				<input type="password" id="password" name="password" required />
			</p>

			<input type='hidden' name='next' value='{{ next }}' />
			<button>Connexion <i class="fa fa-chevron-right"></i></button>
		</form>
{% endblock %}
