{% extends 'core/base.html' %}
{% load menu_item %}
{% load static %}

{% block title %}
    Partenariats
{% endblock %}

{% block menu %}
    {% if perms.partnerships.manage_partnerships %}
        {% menu_item "Administration" 'partnerships:admin_index' %}
    {% endif %}
{% endblock %}

{% block header %}
  Partenariats
{% endblock %}

{% block main %}
  <table style="text-align:justify;">
    <thead>
      <tr>
        <th>Logo</th>
        <th>Nom</th>
        <th>Adresse</th>
        <th>Description</th>
        <th>Lien</th>
      </tr>
    </thead>
    <tbody>
      {% for p in partnerships %}
      <tr>
        {% if p.logo %}
          <td width="20%"><img style="width:100%;" src="{{ p.logo.url }}"/></td>
        {% else %}
          <td></td>
        {% endif %}
          <td width="15%">{{ p.name }}</td>
          <td width="25%">{{ p.address }}</td>
          <td width="40%">{{ p.description }}</td>
          <td><a href="{{ p.urlLink }}"><i class="fa fa-external-link"></i></a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
