{% extends 'core/base.html' %}

{% load static %}
{% load menu_item %}

{% block styles %}
{% endblock %}

{% block scripts %}
{% endblock %}

{% block title %}
    Ajouter un produit
{% endblock %}

{% block header %}
    Ajouter un produit
{% endblock %}

{% block menu %}
    {% menu_item 'Mes achats' 'shop:index' %}
    {% if user_is_bde_member %}
        {% menu_item 'Ventes' 'shop:sell' %}
        {% menu_item 'Historique' 'shop:history' %}
        {% menu_item 'Administration' 'shop:admin' %}
    {% endif %}
{% endblock%}

{% block main %}

    <h2>Produits en vente</h2>
    {% if products %}
        <table>
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prix</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td>{{product.name }}</td>
                    <td>{{product.price}}€</td>
                    <td><a href="{% url 'shop:delete' pid=product.id %}" class="flex"><i class="fa fa-trash-o"></i></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>
            Il n'y a pas de produits en vente.
        </p>
    {% endif %}

    <h2>Ajouter un produit</h2>


    <form action="{% url 'shop:admin' %}" method="POST">
        {% csrf_token %}
        {{ form }}
        <button>Ajouter le produit</button>
    </form>
{% endblock %}
