{% extends 'core/base.html' %}

{% load static %}
{% load menu_item %}

{% block styles %}
{% endblock %}

{% block scripts %}
{% endblock %}

{% block title %}
    Historique de vos achats
{% endblock %}

{% block header %}
    Historique de vos achats
{% endblock %}

{% block menu %}
    {% include 'shop/menu.html' %}
{% endblock%}

{% block main %}
    {% if history %}
        <table>
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Acheteur</th>
                    <th>Date</th>
                    <th>prix</th>
                    <th>Moyen de paiement</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody>
                {% for item in history %}
                    {% if item.type == 'pack' %}
                        <tr>
                            <td>{{ item.pack.name }}</td>
                            <td>{{ item.username }}</td>
                            <td>{{ item.date }}</td>
                            <td>{{ item.pack.price }} €</td>
                            <td>{{ item.payment_mean }}</td>
                            <td>Pack</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td>{{ item.product.name }}</td>
                            <td>{{ item.username }}</td>
                            <td>{{ item.date }}</td>
                            <td>{{ item.product.price }} €</td>
                            <td>{{ item.payment_mean }}</td>
                            <td>Produit</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>
            Vous n'avez rien acheté.
        </p>
    {% endif %}
{% endblock %}
