{% extends 'core/base.html' %}

{% load static %}
{% load menu_item %}

{% block styles %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/json_request.js'%}"></script>
    <script src="{% static 'js/popup.js' %}"></script>
    <script src="{% static 'shop/js/sell.js' %}"></script>
{% endblock %}

{% block title %}
    Ventes
{% endblock %}

{% block header %}
    Ventes
{% endblock %}

{% block menu %}
    {% include 'shop/menu.html' %}
{% endblock%}

{% block main %}
    <h2>Les packs</h2>
    {% if packs %}
        <ul id="sell_product_list">
        {% for pack in packs %}
            <li data-pid="{{ pack.id }}" onclick="sell_pack({{ pack.id }})">
                <span>{{ pack.name }}</span>
                <span>{{ pack.price }}€ </span>
            </div>
        {% endfor %}
        </ul>
    {% else %}
        <p>
            Il n'y a pas de produits en vente, commencez par en ajouter.
        </p>
    {% endif %}

    <h2>Les produits</h2>
    {% if products %}
        <ul id="sell_product_list">
        {% for product in products %}
            <li data-pid="{{ product.id }}" onclick="sell_product({{product.id}})">
                <span>{{ product.name }}</span>
                <span>{{ product.price }}€ </span>
            </div>
        {% endfor %}
        </ul>
    {% else %}
        <p>
            Il n'y a pas de produits en vente, commencez par en ajouter.
        </p>
    {% endif %}

{% endblock %}
