{% extends 'core/base.html' %}
{% load sum_list %}

{% load menu_item %}

{% block menu %}
    {% menu_item "Administration" 'pizza:admin_index' %}
    {% menu_item "Gérer les pizzas" 'pizza:admin_manage' %}
    {% menu_item "Gérer la commande" 'pizza:admin_command' %}
{% endblock %}

{% block main %}
    {% if commands.has_previous %}
        <a href="?page={{ commands.previous_page_number }}">Semaine précedente</a>
    {% endif %}
    {% if commands.has_next %}
        <a style="float:right" href="?page={{ commands.next_page_number }}">Semaine suivant</a>
    {% endif %}
    <br>
    {% for command in commands %}
        <div class="toolbar">
            <a href="{% url 'pizza:admin_export_csv' cid=command.id %}"><i class="fa fa-download"></i></a>
        </div>
        <header><h1>Commande du {{ command.date }}</h1></header>
        <h2>Total</h2>
        <table>
            <thead>
                <tr><th>Pizza</th><th>Nombre</th></tr>
            </thead>
            <tbody>
                {% for pizza, nb in pizzas.items %}
                    <tr><td>{{ pizza.name }}</td><td>{{ nb }}</td></tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr><td>Total</td><td>{{ pizzas.values|sum_list }}</td></tr>
            </tfoot>
        </table>

        <h2>Détail</h2>
        <table>
            <thead>
                <tr><th>Nom</th><th>Pizza</th></tr>
            </thead>
            <tbody>
                {% for inscription in command.inscriptions.all %}
                    <tr><td>{{ inscription.user.profile }}</td><td>{{ inscription.pizza.name }}</td></tr>
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}
{% endblock %}

