{% extends 'core/base.html' %}
{% load menu_item %}
{% load static %}

{% block menu %}
    {% menu_item "Administration" 'pizza:admin_index' %}
    {% menu_item "Gérer les pizzas" 'pizza:admin_manage' %}
    {% menu_item "Gérer la commande" 'pizza:admin_command' %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/calendar.js' %}"></script>
{% endblock %}

{% block main %}
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <script>
            create_calendar('id_date_0');
        </script>
        <button>Envoyer</button>
    </form>
{% endblock %}

