{% extends 'core/base.html' %}
{% load static %}
{% load menu_item %}

{% block menu %}
    {% menu_item "Administration" 'pizza:admin_index' %}
    {% menu_item "Gérer les pizzas" 'pizza:admin_manage' %}
    {% menu_item "Gérer la commande" 'pizza:admin_command' %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/json_request.js' %}"></script>
    <script>
        function del_in_list(){
            this.parentNode.parentNode.removeChild(this.parentNode)
        }
        function del_pizza(pid, elmt){
            queryJson('', {"pid": pid}, del_in_list.bind(elmt));
        }
    </script>
{% endblock %}

{% block header %}
    Gerer les pizzas.
{% endblock %}

{% block main %}
    <ul class="userlist">
    {% for pizza in pizzas %}
        <li><div style="padding-left: 1em">{{ pizza }}</div><button class="red_button userlist_right_button" onclick="del_pizza('{{ pizza.id }}', this); return false;">Supprimer</button></li>
    {% endfor %}
    </ul>
    <form method="POST" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Ajouter</button>
    </form>
{% endblock %}
