{% extends 'core/base.html' %}
{% load menu_item %}
{% load static %}

{% block header %}
    Ajouter un évènement
{% endblock %}

{% block menu %}
    {% menu_item "Liste des évènements" "events:admin_index" %}
    {% menu_item "Ajouter un evenement" "events:admin_add" %}
{% endblock %}

{% block styles %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'events/js/event_form.js' %}"></script>
    <script src="{% static 'js/calendar.js' %}"></script>
{% endblock %}

{% block main %}
    <form enctype="multipart/form-data" action="{% url 'events:admin_add' %}" method="POST">
        {% csrf_token %}
        {{ event_form.as_p }}
        <button>Ajouter</button>
    </form>
{% endblock %}

