{% extends 'core/base.html' %}
{% load menu_item %}
{% load static %}

{% block header %}
    Liste des évènements
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/json_request.js' %}"></script>
    <script src="{% static 'js/list.js' %}"></script>
    <script src="{% static 'events/js/event_list_admin.js' %}"></script>
{% endblock %}

{% block menu %}
    {% menu_item "Liste des évènements" "events:admin_index" %}
    {% menu_item "Ajouter un évènement" "events:admin_add" %}
{% endblock %}

{% block styles %}
        <link rel="stylesheet" href="{% static 'accounts/css/list.css' %}" />
{% endblock %}

{% block main %}
    <div id="eventlist"></div>
    <script>
        window.addEventListener('load', function(){
            var eventList = new EventList('eventlist', function(evt){
                function update_list(data){
                    if(data['status'] === 1){
                        evt['deleted'] = true;
                    }
                    eventList.updateElems();
                    eventList.render();
                }

                function del_event(){
                    queryJson('', {"eid": evt['eid']}, update_list);
                }

                function details(){
                    window.location = "/events/" + evt['eid'];
                }

                return [
                    new EventList.Action('Details', details),
                    new EventList.Action('Supprimer', del_event),
                ];
            });
        });
    </script>
{% endblock %}

