{% extends 'core/base.html' %}
{% load static %}
{% load menu_item %}

{% block scripts %}
	<script src="{% static 'js/json_request.js' %}"></script>
	<script src="{% static 'events/js/user_list.js' %}"></script>
{% endblock %}

{% block styles %}
{% endblock %}

{% block menu %}
	{% menu_item "Liste des évènements" "events:admin_index" %}
	{% menu_item "Description" "events:admin_view" eid=event.id %}
	{% menu_item "Liste des inscrits" "events:admin_list_registrations" eid=event.id %}
	{% menu_item "Editer l'évènement" "events:admin_edit" eid=event.id %}
{% endblock %}

{% block header %}
	Liste de personnes inscrites
{% endblock %}


{% block main %}
	<ul class="userlist">
		{% for registration in reg %}
			<li>
                <div class="picture_container">
                    <img src="{{ registration.user.profile.get_picture_url }}" alt="profile_picture"/>
                </div>
                <div>
                    {{ registration.user.profile }}
                </div>
                <button onclick="del_user({{registration.event.id}}, {{registration.user.id}}, this); return false;" class="red_button userlist_right_button">
                    Supprimer
                </button>
			</li>
		{% endfor %}
	</ul>
{% endblock %}

