{% extends 'core/base.html' %}
{% load static %}
{% load menu_item %}

{% block scripts %}
    <script src="{% static 'js/json_request.js' %}"></script>
    <script src="{% static 'events/js/user_list.js' %}"></script>
{% endblock %}

{% block styles %}
{% endblock %}

{% block menu %}
    {% menu_item "Liste des évènements" "events:admin_index" %}
    {% menu_item "Description" "events:event" eid=event.id %}

    {% if perms.events.access_list %}
        {% menu_item "Liste des inscrits" "events:admin_list_registrations" eid=event.id %}
    {% endif %}
    {% if perms.events.manage_event %}
        {% menu_item "Editer l'évènement" "events:admin_edit" eid=event.id %}
    {% endif %}
    {% if event.gestion and perms.events.manage_entries %}
        {% menu_item "Gestion" "events:admin_management" eid=event.id %}
    {% endif %}
{% endblock %}

{% block header %}
    Liste de personnes inscrites
{% endblock %}


{% block main %}
    <h2>Exporter</h2>
    <a href="{% url 'events:admin_export_csv' eid=event.id %}">CSV</a>
    <h2>Liste des inscrits</h2>
    <ul class="userlist">
        {% for registration in reg %}
            <li>
                <div class="picture_container">
                    <img src="{{ registration.user.profile.get_picture_url }}" alt="profile_picture"/>
                </div>
                <div>
                    {{ registration.user.profile }}
                </div>
                <button onclick="del_ins({{registration.id}}, 'ins', this); return false;" class="red_button userlist_right_button">
                    Supprimer
                </button>
            </li>
        {% endfor %}
    </ul>
    <h1>Externes</h1>
    <ul class="userlist">
        {% for registration in ext_reg %}
            <li>
                <div>
                    {{ registration.first_name }} {{ registration.last_name }} ({{registration.via.name}})
                </div>
                <button onclick="del_ins({{registration.id}}, 'ext', this); return false;" class="red_button userlist_right_button">
                    Supprimer
                </button>
            </li>
        {% endfor %}
    </ul>
    <h1>Invitations</h1>
    <ul class="userlist">
        {% for registration in invits %}
            <li>
                <div>
                    {{ registration.first_name }} {{ registration.last_name }} (Invité par {{registration.user.profile}})
                </div>
                <button onclick="del_ins({{registration.id}}, 'inv', this); return false;" class="red_button userlist_right_button">
                    Supprimer
                </button>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

