{% extends 'core/base.html' %}
{% load menu_item %}
{% load static %}


{% block header %}
    {{ event.name }}
{% endblock %}

{% block styles %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/json_request.js' %}"></script>
    <script src="{% static 'js/list.js' %}"></script>
    <script src="{% static 'js/popup.js' %}"></script>
    <script src="{% static 'events/js/management_list.js' %}"></script>
{% endblock %}

{% block menu %}
    {% menu_item "Liste des évènements" "events:admin_index" %}
    {% menu_item "Description" "events:event" eid=event.id %}
    {% menu_item "Liste des inscrits" "events:admin_list_registrations" eid=event.id %}
    {% menu_item "Editer l'évènement" "events:admin_edit" eid=event.id %}
    {% if event.gestion %}
        {% menu_item "Gestion" "events:admin_management" eid=event.id %}
    {% endif %}
{% endblock %}

{% block main %}
<div id="userlist">
</div>
<script>
        function acked(data){
            if(data["status"] == 1){
                document.popup.element.setAttribute("class", "bg-blue");
                document.getElementById('search_input').focus();
            }
        }
        function ack_in(eid, type, iid){
           document.popup.close();
           queryJson(eid + "/ack/" + type + '/' + iid, {}, acked);
        }
        {% if event.gestion == "WAF" %}
            url = "/events/admin/management/list_registrations/{{event.id}}"
        {% endif %}
        var event_id = {{event.id}};
        window.addEventListener('load', function(){
            var userList = new UserList('userlist', url, function(user){
                return [
                ];
            });
        });
</script>

{% endblock %}
