{% extends 'core/base.html' %}
{% load menu_item %}
{% load static %}

{% block header %} Liste des sondages {% endblock %}

{% block menu %}
    {% menu_item "Administration" "poll:admin" %}
    {% if perms.poll.add_poll %}
        {% menu_item "Ajouter un sondage" 'poll:admin_add_poll' %}
    {% endif %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/json_request.js' %}"></script>
    <script src="{% static 'js/list.js' %}"></script>
    <script src="{% static 'poll/js/poll_list.js' %}"></script>
{% endblock %}

{% block main %}
    <div id="polllist"></div>
    <script>
        window.addEventListener('load', function(){
            var pollList = new PollList('polllist', function(evt){
                function update_list(data){
                    if(data['status'] === 1){
                        evt['deleted'] = true;
                    }
                    pollList.updateElems();
                    pollList.render();
                }

                function details(){
                    window.location = "/poll/admin/view/" + evt['id']
                }

                function del(){
                    queryJson('delete', {"pid": evt['id']}, update_list);
                }
                return [
                    new PollList.Action('Details', details),
                    {% if perms.poll.delete_poll %}
                        new PollList.Action('Supprimer', del),
                    {% endif %}
                ];
            });
        });
    </script>
{% endblock %}

