{% extends 'core/base.html' %}

{% block header %}
{% endblock %}

{% block main %}
<table>
    <thead>
        <tr>
            <th>Date</th>
            <th>Consommation</th>
            <th>Quantité</th>
            <th>Prix</th>
        </tr>
    </thead>
    <tbody>
    {% for line in history %}
        <tr><td>{{ line.date }}<td>{{ line.product }} ({{ line.price_name }})</td><td>{{ line.quantity }}</td><td>{{ line.price }}</td></tr>
    {% endfor %}
    </tbody>
</table>

<div class="pagination">
    {% if history.has_previous %}
        <a class="page" href="{% url 'enibar:show_history' page=history.previous_page_number %}"><i class="fa fa-chevron-left"></i></a>
    {% endif %}

    <span class="current page">
        Page {{ history.number }} of {{ history.paginator.num_pages }}.
    </span>

    {% if history.has_next %}
        <a class="page" href="{% url 'enibar:show_history' page=history.next_page_number %}"><i class="fa fa-chevron-right"></i></a>
    {% endif %}
</div>
{% endblock %}
