.userlist{
	padding: 0;
	list-style: none;
}


.userlist li a{
	display: flex;
  flex-flow: row;
  align-items: center;
	color: #333;
	height: 50px;
}

.userlist li a:hover{
	background-color: #EEE;
}

.picture_container{
	flex: 0 1 50px;
	width: 50px;
	min-width: 50px;
	max-width: 50px;
	margin: 0 1em 0 0;
	overflow: hidden;
}

.userlist img{
	height: 50px;
	vertical-align: middle;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%,0);
}

#userlist input{
    width: 100%;
    padding: 0.75em 1em;
    font-weight: bold;
}
