.userlist{
	padding: 0;
	list-style: none;
}


.userlist li a{
	display: flex;
  flex-flow: row;
  align-items: center;
	color: #333;
	height: 50px;
}

.userlist li a:hover{
	background-color: #EEE;
}

.picture_container{
	flex: 0 1 50px;
	min-width: 50px;
	margin: 0 1em 0 0;
}

.userlist img{
	max-width: 50px;
	max-height: 50px;
	vertical-align: middle;
}
